.button {
  display: block;
  background-color: $primary-color;
  color: #f1f1f1;
  padding: 16px 32px;
  text-decoration: none;
  white-space: wrap;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  border: none;
  max-width: 260px;
  text-align: center;
  border-radius: 4px;
  z-index: 20;

  &:hover {
    background-color: #6C99B5;
  }

  &:active {
    background-color: #5496bd;
    color: rgba(#ffffff, 30%);
  }

  &:disabled {
    background-color: #e5e5e5;
  }
}