.link {
    text-decoration: none;
    color: #f1f1f1;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;

    &:hover {
        color: #232B2A;
    }
    &_dark {
        color:#232B2A;
        &:hover {
            color: $primary-color;
        }
    }
}