.main-section {
	padding: 30px;
	padding-top: 20px;
	background: #f1f1f1;
	grid-area: section;
	position: relative;

	&__img {
		position: absolute;
		bottom: -95px;
		right: -22%;
		pointer-events: none;
	}

	&__title {
		font-size: 80px;
		line-height: 80px;
		display: inline-block;
		max-width: 900px;
		margin: 0;
		margin-bottom: 20px;
	}

	&__description {
		display: block;
		max-width: 500px;
		margin: 0;
		margin-bottom: 40px;
		line-height: 120%;
	}
}

.blue {
	color: $primary-color;
}

@media (max-width: 1365px) {
	.main-section__img {
		display: none;
	}
}

@media (max-width: 900px) {
	.main-section {
		//text-align:center;
	}
	.main-section__title {
		font-size: 50px;
		line-height: 55px;
		max-width: 500px;
	}
	.main-section__description {
		margin: 0 auto;
		margin-bottom: 30px;
	}
	.main-section__link {
		// margin: 0 auto;
	}
}