.main-footer {
  background: $primary-color;
  grid-area: footer;
  z-index: 2;

  border-radius: 4px;
  margin: 0 10px;
  padding: 0 30px;
  padding-right: 20px;
  color: #f1f1f1;
  font-size: 16px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  &__copyright,
  &__title {
    margin: 0;
    margin-right: 20px;
  }

  &__contact-wrapper {
    display: flex;
  }

  &__contacts {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
  }

  &__item:not(:last-child) {
    margin-right: 20px;
  }
}

@media (max-width: 450px) {
  .main-footer {
    flex-direction: column-reverse;
    align-items: flex-start;
    padding: 20px;
    margin: 10px;

    &__title {
      margin-bottom: 10px;
      font-size: 20px;
      line-height: 20px;
      font-weight: 700;
    }
  }

  .main-footer__contact-wrapper {
    flex-direction: column;
  }
}