.page-header {
  background-color: #f1f1f1;
  grid-area: header;
  padding: 0 30px;
  padding-right: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 4px;
  margin: 10px 0;

  &__logo,
  &__lang {
    color: $primary-color;
    margin: 0;
    font-size: 20px;
    line-height: 20px;
    font-weight: 700;
  }
}

@media (max-width: 720px) {
  .page-header {
    padding: 10px;
    margin: 0;
  }
}