@import "variables";
@import "fonts";
@import "blocks/page-body";
@import "blocks/title";
@import "blocks/link";
@import "blocks/button";
@import "blocks/page-header";
@import "blocks/main-section";
@import "blocks/aside";
@import "blocks/main-footer";
@import "blocks/bg";

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.hidden {
  display: none;
}

.visible-on-mobile {
  display: inline;

  @media (min-width: $tablet-width) {
    display: none;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.visible-on-tablet {
  display: none;

  @media (min-width: $tablet-width) {
    display: inline;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.visible-on-desktop {
  display: none;

  @media (min-width: $tablet-width) {
    display: none;
  }

  @media (min-width: $desktop-width) {
    display: inline;
  }
}

.hidden-on-mobile {
  display: inline;

  @media (min-width: $mobile-width) and (max-width: $mobile-only-width) {
    display: none;
  }
}

.hidden-on-tablet {
  display: inline;

  @media (min-width: $tablet-width) and (max-width: $tablet-only-width) {
    display: none;
  }
}
